:root {
 --white: #ffffff;
 --primary-brand: #4D5AE5;
 --dark:#2E2F42;
 --success:#31D0AA;
 --text: #434455;
 --subtle-text:#8E8F99;
 
}

body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	color: #2e2f42;
	background-color: var(--white);
}

/*-------HEADER------*/

.header-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
	color: #2e2f42;
}

.header-logo-web {
	color: #4d5ae5;
}

.header-navigation-item {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.header-contacts-link {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
	text-decoration: none;
}

.header-navigation-link {
	text-decoration: none;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
	color: #434455;
}
.header-navigation-link:active {
	color: #4d5ae5;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
	color: #4d5ae5;
}

/*------MAIN STUDIO PAGE-------*/

.main-banner {
	background: #2e2f42;
}

.main-banner-slogan {
	font-weight: 600;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--white);
}

.main-banner-btn {
	font-family: inherit;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.18;
	display: flex;
	align-items: center;
	letter-spacing: 0.04em;
	color: var(--white);
	background-color: #4d5ae5;
	cursor: pointer;
	border: 1px;
	border-radius: 4px;
}

.main-banner-btn:hover,
.main-banner-btn:focus {
	color: var(--white);
}

.main-banner-btn:active {
	background-color: #404bbf;
}

.features-list,
.activities-list,
.team-list,
.header-navigation-list {
	list-style-type: none;
}
.features-subtitle,
.team-member-name {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.subtitle-description,
.job-title {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.activities-title,
.team-title {
	font-weight: 600;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
}

.section-team {
	background: var(--white);
}
/*------FOOTER-------*/
.footer {
	background: #2e2f42;
}

.fotter-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.16;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #f4f4fd;
	text-decoration: none;
}

.footer-logo-web {
	color: #4d5ae5;
}

.footer-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #e7e9fc;
}

/*------MAIN PORTFOLIO PAGE-------*/

.filter-portfolio-item,
.project-item {
	list-style-type: none;
}

.project-link {
	text-decoration: none;
}

.filter-portfolio-btn {
	font-family: inherit;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	color: #4d5ae5;
	cursor: pointer;
	background-color: #f4f4fd;
	border: 1px;
	border-radius: 4px;
}

.filter-portfolio-btn:hover,
.filter-portfolio-btn:focus {
	color: var(--white);
	background-color: #4d5ae5;
}
.text-on-image {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #f4f4fd;
}

.project-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.project-type {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
